html, body {
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.header {
    position: absolute;
    padding: 1em;
}
.footer {
    position: fixed;
    bottom: 0;
}
#instructions {
    border: 1px solid #000;
    background-color: rgba(100, 100, 100, 0.5);
    position: absolute;
    right: 0;
    top: 0;
    width: 20%;
}
#dogScore {
    /*not supported yet: background-color: attr(data-color color);*/
    border: 1px solid #000;
    margin-top: 0.5em;
    padding: 0 1em;
    display: inline-block;
}
.alert {
    background-color: #f22;
}
.warn {
    background-color: #f60;
}
.success {
    background-color: #2f2;
}

.step {
    border-bottom: 1px solid #000;
}
.label {
    font-weight: bold;
    display: block;
}
.control {
    display: block;
}

#desktop-warning {
    display: none;
}
@media screen and (max-width: 640px) {
    #desktop-warning {
        display: block;
    }
}
